.div_menu{
  /* width :1300px;
  height: 30px; */
  background-color: black;
  margin:5px;
}

.menu{
    color:white;
    text-transform: uppercase;
}

.slider-div{
    padding-left: 65px;
}

.p1{
    text-align: justify;
}

.footer{
    text-align: center;
    color: white;
    background-color: black;
}

.footer-alamat{
    text-align: center;
    color: white;
    background-color: black;
}