.satu {
    background-color: aqua;
          width: 270px;
          height: 90px;
          border: 10px ;
          border-style: dotted;
          border-color: red;
          overflow: scroll;
}

.dua {
    background-color: salmon;
          width: 270px;
          height: 90px;
          border: 3px;
          border-style: solid;
          border-color: green;
          overflow: scroll;
}

.tiga {
    background-color: aqua;
          width: 270px;
          height: 90px;
          border: 10px;
          border-style: dashed;
          border-color: blue;
          overflow: scroll;
}